
:root {
  --main-font: "Roboto";
  --accent-font: "Raleway";
  --main-text-color: #212121;
  --text-color: #757575;
  --color-blue: #2196f3;
  --color-white: #ffffff;
  --gray-color: #2f303a;
  --light-gray: #F5F4FA;
  --black: #000;
  --border-color: #EEE;
  --icon-color: #AFB1B8;
}
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.9;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container,
.container-hero,
.footer-container {
  width: 1200px;
  margin: 0 auto;
}
.section,
.section-hero,
.team-section,
.client-section {
  padding: 94px 0;
}
button {
  border: none;

}
/* HEADER STYLES */
.header {
  border-bottom: rgba(236, 236, 236, 1) solid 1px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link {
  color: var(--text-color);
}
.nav-list,
.link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 16px;
  margin: 32px 0px;
  padding: 0px;
}
.nav-list a:hover,
.nav-list a:focus,
.nav-list a:active,
.link a:hover,
.link a:focus,
.link a:active {
  color: var(--color-blue);
}
.nav-link-item:not(:last-child),
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link-item a {
  display: flex;
  align-items: center;
}
.mail-icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.mail-icon:hover,
.phone-icon:hover {
  fill: var(--color-blue);
}
.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.logo {
  font-family: var(--accent-font);
  font-weight: 700px;
  font-size: 26px;
  line-height: 1,383;
  letter-spacing: 3%;
  color: var(--black);
}  
.logo span {
  color: var(--color-blue);
}
/* HEADER STYLES */
/* MAIN STYLE*/
/* HERO*/
.section-hero {
  background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/bgheroimg.jpg);
  max-width: 1600px;
}
.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 106px 0px;
}
.title-hero {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  max-width: 700px;
  margin-bottom: 30px;
}
.hero-button {
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--color-white);
  width: 200px;
  height: 50px;
}
.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--color-blue);
  color: var(--color-white);
}
/* HERO*/
/*FILTERS-BUTTON*/
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button {
  padding: 6px 22px;
  background-color: var(--light-gray);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-right: 8px;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*FILTERS-BUTTON*/
.specifics-list,
.business {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}
.specifics-list-item:not(:last-child),
.business:not(:last-child) {
  margin-right: 30px;
}
.specifics-icon-box {
  width: 270px;
  height: 120px;
  background: var(--light-gray);
  border-radius: 4px;
}
.specifics-icon {
  width: 70px;
  height: 70px;
  margin: 25px 100px;
}
.specifics-list {
  border-radius: 4px;
}
.specifics-title {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.specifics-text {
  font-family: var(--main-font);
  line-height: 24px;
  letter-spacing: 0.03em;
}
.business-title,
.team-title,
.client-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
/*TEAM*/
.team-cards {
  background: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px 0px 10px 0px;
}
.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}
.team-section {
  background-color: var(--light-gray);
}
.card-portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 
.card-info {
  margin: 20px 24px;
} 
.card-portfolio {
  border: 1px var(--border-color) solid;
  margin-bottom: 30px;
}
.card-portfolio:hover,
.card-portfolio:focus {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-portfolio-title {
  font-family: Roboto;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.card-portfolio-text{
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.icon {
  fill: var(--icon-color);
  width: 20px;
  height: 20px;
  margin: 12px 12px;
}
.icon:hover,
.icon:focus {
  fill: var(--color-white);
  cursor: pointer;
}
.icon-list,
.footer-icon-list {
  display: flex;
  justify-content: center;
}
.icon-list-item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: var(--color-white);
}
.icon-list-item:hover,
.icon-list-item:focus {
  background-color: var(--color-blue);
  cursor: pointer;
}
.icon-list-item:not,
.footer-icon-list-item:not(:last-child) {
  margin-right: 10px;
}
.client-section {
  background-color: var(--color-white);
}
.client-list {
  display: flex;
  justify-content: space-between;
}
.client-icon {
  fill: var(--icon-color);
  width: 106px;
  height: 60px;
  margin: 16px 32px;
}
.client-icon:hover,
.client-icon:focus {
  fill: var(--color-blue);
}
.client-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
}
.client-list-item:hover,
.client-list-item:focus{
  border: 1px solid var(--color-blue);
}
/* MAIN STYLE*/
/* FOOTER*/
.footer {
  background-color: var(--gray-color);
  padding: 60px 0px 60px 0px;
}
.footer-container {
  display: flex;
}
span.logo-white {
  color: var(--color-white);
}
.address {
  justify-content: flex-start;
  width: 231px;
  height: 81px;
}
.social-container {
  width: 206px;
  height: 80px;
}
.text-address {
  color: var(--color-white);
}
.link-address {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 0px;
}
.footer-title {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-icon-list-item {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon-list-item:hover,
.footer-icon-list-item:focus{
  background-color: var(--color-blue);
  cursor: pointer;
}
.footer-icon-list-item:not(:last-child) {
  margin-right: 10px;
}

/* FOOTER* /

